#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.main_container {
  width: 88%;
  overflow: scroll;
  background-color: var(--back-color);
}
