:root {
  --border-color: rgb(194, 192, 192);
  --card-color: rgb(255, 255, 255);
}

.principal_main_container {
  width: 100%;
  height: 100vh;
  gap: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.8rem 2rem;
  box-sizing: border-box;
}

/* -------------------------- HEADER PRINCIPAL STYLES ----------------  */

.principal_main_container .principal_header_contaier {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 10px;
  height: 14%;
  width: 100%;
}

.principal_header_contaier .header_box {
  border: 1px solid var(--border-color);
  background-color: var(--card-color);
  border-radius: 0.3rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0.3rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

/* -------------------------- MAIN PRINCIPAL STYLES ----------------  */

main {
  width: 100%;
  height: 86%;
  display: flex;
  gap: 10px;
  box-sizing: border-box;
}

/* -------------------------- HEADER RIGHT PRINCIPAL STYLES ----------------  */

main .principal_rigth_side {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .principal_rigth_side .chart_container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  background-color: var(--card-color);
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-sizing: border-box;

  .chart_header {
    height: 10%;
  }

  .chart {
    align-self: center;
    width: 100%;
    height: 80%;
    border: 1px solid var(--border-color);
    background-color: rgb(252, 250, 250);
    border-radius: 0.3rem;
  }
}

main .principal_rigth_side .top_items_container {
  width: 100%;
  height: 28%;
  border: 1px solid var(--border-color);
  background-color: var(--card-color);
  border-radius: 0.3rem;
}

/* -------------------------- HEADER LEFT PRINCIPAL STYLES ----------------  */

main .principal_left_side {
  width: 30%;
  height: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--card-color);
  border-radius: 0.3rem;
}
